AIUniversalAssistant/Pods/
AIUniversalAssistant/.idea/
ai_writing_cat_flutter/ios
ai_writing_cat_flutter/android
ai_writing_cat_flutter/ohos
ai_writing_cat_flutter/.idea/
ai_writing_cat_flutter/.dart_tool/
ai_writing_cat_flutter/ios/.symlinks/
ai_writing_cat_flutter/.flutter-plugins-dependencies
ai_writing_cat_flutter/build