<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AIUAWritingCategories.plist
   AIUniversalAssistant

   Created by 褚红彪 on 10/6/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>创意火花</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>名著精读</string>
                    <key>content</key>
                    <string>用通俗易懂的语言，为我解读《基督山伯爵》的核心思想与精彩情节</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>短视频脚本</string>
                    <key>content</key>
                    <string>作为百万级短视频博主，请为我创作一段关于父母爱情的短视频脚本</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>萌宠道歉</string>
                    <key>content</key>
                    <string>帮我写一封给猫咪的道歉信，因为我忘记给它清理猫砂了</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>活动心得</string>
                    <key>content</key>
                    <string>为社区举办的"关爱留守儿童教育"活动写一篇真情实感的心得体会</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>感恩致辞</string>
                    <key>content</key>
                    <string>请帮我撰写一份300字的感谢词，重点表达对导师的感激之情</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>爆款模板</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>产品推广</string>
                    <key>content</key>
                    <string>为"宝宝乐安抚奶嘴"创作3条广告文案，每条控制在50字以内</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>科技资讯</string>
                    <key>content</key>
                    <string>撰写一篇关于"AR眼镜实现虚拟与现实融合"的科技资讯文章</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>电影评论</string>
                    <key>content</key>
                    <string>为《肖申克的救赎》写一篇影评，重点分享这部电影带给我的深刻感受</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>生日贺词</string>
                    <key>content</key>
                    <string>为我的朋友小李写一份充满真情的生日祝福语</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>推荐信函</string>
                    <key>content</key>
                    <string>以推荐人的身份，为一位优秀的求职者撰写一封强有力的推荐信</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
